<div class="container">



<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="headers mg-b-5">
        
            <h2 class="header-title">Demande d'épargne</h2>
            Remplissez le formulaire et notre équipe va vous rappeler.
            <hr />
        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-md">
                    <%= render 'form', saving_application: @saving_application %>
                </div>
            </div>
        </div>
    </div>
</div>
