<div id="mini-cart" class="mini-cart minicart-arrow-alt effect-fadein-up minicart-style1">
    <div class="cart-head cart-head3">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            <span class="cart-items">0</span>
    </div>
    <div class="cart-popup widget_shopping_cart" style="opacity: 1;">
                <div class="widget_shopping_cart_content">


	
<div class="scroll-wrapper cart_list product_list_widget scrollbar-inner" style="position: relative;"><ul class="cart_list product_list_widget scrollbar-inner   scroll-content" style="margin-bottom: 0px; margin-right: 0px;">
	
    
		<li class="woocommerce-mini-cart__empty-message empty">
			Aucun produit dans le chariot.		</li>

	
</ul><div class="scroll-element scroll-x" style=""><div class="scroll-element_outer">    <div class="scroll-element_size"></div>    <div class="scroll-element_track"></div>    <div class="scroll-bar" style="width: 100px;"></div></div></div><div class="scroll-element scroll-y" style=""><div class="scroll-element_outer">    <div class="scroll-element_size"></div>    <div class="scroll-element_track"></div>    <div class="scroll-bar" style="height: 100px;"></div></div></div></div><!-- end product list -->


</div>
            </div>
        </div>