 <% @registration_reasons.each do |registration_reason| %>
    <tr>
    <td><%= registration_reason.name %></td>
    <td>
			<div class="action-buttons">
				<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_registration_reason_path(registration_reason), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), registration_reason_delete_path(registration_reason), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
    </tr>
<% end %>