<section class="hero">
	<div class="hero-overlay">
		<!-- Old header -->
		<div class="hero-content">
			<div class="container">
				<div class="row align-items-lg-center">
					<div class="col-lg-12 text-center">
						<div class="hero-content-title">
							<h1 class="display-4 text-bold">
							<!-- Dynamisez votre communication grâce à notre API SMS. -->
								Hello world!
							</h1>
						</div>

						<p class="text-gray-soft text-regular">
							<!-- Cabinet médicaux, Poly Pharmacies,  Hôpiptaux ... -->
							 
                             <h2 class="hero-content-description">Nous sommes une société de prestation de services et de commerce génégral.</h2>
                             
						</p>

						<p>
							<%= link_to "En savoir plus ...", root_path, class: "btn btn-primary"%>
						</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
